app = "phantomx"
primary_region = "ord"

[build]
  dockerfile = "Dockerfile.gpu"

[[vm]]
  size = "a100-40gb"

swap_size_mb = 16384

[mounts]
  source = "phantomx_data"
  destination = "/data"

[http_service]
  internal_port = 8888
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  grace_period = "60s"
  interval = "30s"
  method = "GET"
  timeout = "10s"
  path = "/health"
